<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand"
    routerLink='/'> <span class="text-white">TVMoviez9<i class="fa-solid fa-video"></i></span> </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink='/login' >Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink='/register'>Register</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>